<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>add new data</h1>
    <form method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="name">name</label></td>
                <td><input id="name" type="text" name="name" /></td>
            </tr>
            <tr>
                <td><label for="coordinator">coordinator</label></td>
                <td><input id="coordinator" type="text" name="coordinator" /></td>
            </tr>
            <tr>
                <td><label for="place">place</label></td>
                <td><input id="place" type="text" name="place" /></td>
            </tr>
            <tr>
                <td><label for="lat">lat</label></td>
                <td><input id="lat" type="number" step="0.01" name="lat" /></td>
            </tr>
            <tr>
                <td><label for="lng">lng</label></td>
                <td><input id="lng" type="number" step="0.01" name="lng" /></td>
            </tr>
            <tr>
                <td><label for="fee">fee</label></td>
                <td><input id="fee" type="number" name="fee" /></td>
            </tr>
            <tr>
                <td><button type="submit">submit</button></td>
            </tr>
        </table>
    </form>
    <script src="" async defer></script>
</body>

</html>